/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.12.2016, 11:28:12
    Author     : Николай Колосов <nk@webberry.ru>
*/
body {
	padding: 0;
	margin: 0;
}

.content {
	margin-left: 230px;
	padding: 8px 30px 100px 30px;
}

.menu  {
	color: #4d4d4d;
	font-family: sans-serif;
	font-size: 12px;
	padding: 20px 15px;
	width: 200px;
	position: fixed;
	height: 100%;
	background: #F6F6F6;
	border-right: 1px solid #cecece;
}

.menu ul {
	list-style-type: none;
	padding-left: 0px;
}
.menu ul li {
	padding-left: 10px;
	margin-bottom: 5px;
}

.code {
	background: #F6F6F6;
	padding: 10px;
	white-space: pre;
	border-radius: 10px;
	border: 1px solid #cecece;
}
code {
	font-weight: bold;
}
.warning {
	font-weight: bold;
	color: red;
}