.img-friends {
    width: 128px;
    height: 128px;
    margin: 10px;
}

img {
    margin: 0 auto;
    width: 256px;
    height: 256px;
}

.button-profile {
    margin-top: 20px;
    display: block;
}

.profile-info-left {
    color: #9f1aa8;
    float: left;
    width: 140px;
    margin-right: 10px;
    overflow: hidden;
}

.profile-info-right {
    color: #00b200;
    overflow: hidden;
    min-height: 20px;
}

.profile-info-right, .profile-info-left {
    margin-top: 20px;
}

.row {
    margin-bottom: 50px;
}

.friend-info-name {
    display: inline-block;
    font-size: 21px;
}

.center {
    text-align: center;
}